body {
    font-family: 'Arial', sans-serif;
    background-color: #fff9f3;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #7c0a02;
    color: white;
    padding: 15px 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    color: #d89c9c;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 equal columns */
    gap: 16px;
   
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.product-card {
    height:350px;
    width: 210px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-top: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 200px;
    height: 210px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 2px;
    
}

.product-card h2 {
    color: #7c0a02;
    margin:5px;
   
}

.product-card p {
    font-size: 18px;
    color: #333;
    margin-bottom: 9px;
    margin-top: 13px;
}

button.add-to-cart {
    background-color: #7c0a02;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button.add-to-cart:hover {
    background-color: #b33a3a;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #7c0a02;
    color: white;
    margin-top: 40px;
}
